<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body class="about-bg">
{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container">
    <h1>About  Mood Music Recommender</h1>
    <p>We believe music can match every mood. Whether you're happy, sad, or stressed.
       our recommender suggests the perfect songs and quotes to uplift your day.</p>
    <p>Explore, enjoy, and let the music guide your emotions!</p>
</div>
{% endblock %}
</body>
</html>