<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Your Mood</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="mood-bg">
{% extends "base.html" %}

{% block title %}Choose Mood{% endblock %}

{% block content %}
<div class="mood-container">
    <h2>How are you feeling today?</h2>

    <form method="POST" action="/result" class="cards">
        <button name="mood" value="Happy" class="card happy">
            😊 Happy
        </button>

        <button name="mood" value="Sad" class="card sad">
            😢 Sad
        </button>

        <button name="mood" value="Stressed" class="card stressed">
            😓 Stressed
        </button>

        <button name="mood" value="Motivated" class="card motivated">
            💪 Motivated
        </button>
    </form>
</div>
{% endblock %}

</body>
</html>
